# Go binary
/cloudinferops

# Coverage
coverage.out
.coverage
coverage.xml
htmlcov/


# Python virtual environment and cache
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Python packaging/build files
*.egg-info/
dist/
build/
